@font-face{
    font-family: 'RollingAcid';
    src: url(../fonts/Royalacid_o.ttf);
    
}
@font-face{
    font-family: 'HelvChildren';
    src: url(../fonts/HelvChildren.otf);
    
}
@font-face{
    font-family:'DemolitionCrackBlack';
    src: url(../fonts/DemolitionCrackBlack.ttf);
}
@font-face{
    font-family:'SK';
    src: url(../fonts/SK_LUNIE.ttf);
}
@font-face{
    font-family:'Zombie';
    src: url(../fonts/ZOMBIE.TTF);
}
