@font-face{
    font-family: 'This Night';
    src: url(ThisNight.ttf);
}
@font-face{
    font-family: 'RollingAcid';
    src: url(Royalacid_o.ttf);
    
}
@font-face{
    font-family: 'HelvChildren';
    src: url(HelvChildren.otf);
    
}
@font-face{
    font-family:'DemolitionCrackBlack';
    src: url(DemolitionCrackBlack.ttf);
}
@font-face{
    font-family:'SK';
    src: url(SK_LUNIE.ttf);
}
@font-face{
    font-family:'Zombie';
    src: url(ZOMBIE.TTF);
}
@font-face{
    font-family: 'Riffic';
    src: url(RifficFree-Bold.ttf);
}